@charset "utf-8";
@function px($n){
  @return $n / 75 + rem;
}

html{
  height:100%;
}
body{
  height:100%;
  background-color: #f6f4f0;
  font-family:"Microsoft YaHei";
}
dt,dl,dd{
  margin:0;
  padding:0;
}

/*表单input*/
.cell-input{border:1px solid #e2e2e2;height:38px;line-height:38px\9;padding:0px 10px;width:260px;overflow:hidden;color:#ccc;font-size:14px;vertical-align:middle;}
.cell-input.disabled{color:#333;-moz-user-select:none;cursor:not-allowed;}
.cell-input.on-error{border:1px solid #cb2d23;color:#333;}
.cell-input.on-focus{border:1px solid #f1a650;color:#333;}
.cell-input.highlight{color:#333;}
.ui-input{position:relative;}
.ui-input .ui-tips{position:absolute;left:200px;top:0;}
.ui-input .ui-tips .note{color:#b5b5b6;display:none;}
.ui-input .ui-tips .error{color:#e94b24;display:none;}
.ui-input .ui-tips .correct{color:#5bb065;display:none;}
.ui-input .ui-tips i{display:inline-block;margin:0px 5px;font-size:18px;color:#e94b24;font-style:normal;}
.ui-input .ui-tips .note i{color:#b5b5b6;}
.ui-input .ui-tips .correct i{color:#5bb065;}

/*button、根据项目实际情况增减，主要包括默认和鼠标经过的color,background，部分是a标签，因此需要添加visited和hover状态*/
[class^="cell-btn"], [class^="cell-btn"]:visited{display:inline-block;height:40px;line-height:40px;font-size:16px;text-align:center;border:0;border-radius:5px;cursor:pointer;vertical-align:middle;}
/*.cell-btn-disabled, a.cell-btn-disabled:visited{background:#e59691;color:#f4dddc;}*/
.cell-btn-disabled, a.cell-btn-disabled:visited{background:#d9d9d9;color:#ffffff;}
/*.cell-btn-disabled:hover{color:#f4dddc;cursor:not-allowed;}*/
.cell-btn-disabled:hover{color:#ffffff;cursor:not-allowed;}
.btn-code:hover,.btn-code:visited{color: #cb2d23;}
.cell-btn-gray, a.cell-btn-gray:visited{background:#bbb;color:#fff;}
.cell-btn-gray:hover{background:#d9d9d9 !important;color:#fff;}
.cell-btn-red, a.cell-btn-red:visited{background:#cb2d23;color:#fff;}
.cell-btn-red:hover{background:#b31a10 !important;color:#fff;}
.cell-btn-orange, a.cell-btn-orange:visited{background:#f1a650;color:#fff;}
.cell-btn-orange:hover{background:#fd9825 !important;color:#fff;}
.cell-btn-pink, a.cell-btn-pink:visited{height:38px;background-color:#fff;font-size:14px;color:#cb2d23;line-height:38px;border:1px solid #ffa29c;}
.cell-btn-pink:hover{background-color:#f8d2d2 !important;border-color:#cb2d23;}
.cell-btn-gray8, a.cell-btn-gray8:visited{background:#8c8c8c;color:#fff;}
.cell-btn-gray8:hover{background:#7b7979 !important;color:#fff;}


/*弹窗公共主体，确认取消按钮layerbutton,layerrest，按钮会继承cell-btn-主样式*/
#greybackground{background:#000;opacity:0.5;filter:alpha(opacity=20);z-index:1011;position:fixed;left:0;top:0;right:0;bottom:0;}
.alertlayer{position:fixed; width:px(561); background:#fff; border-radius:3px; border:1px solid #ddd; z-index:9999;overflow:hidden;display:none;}
.alertlayer .layertitle{height:50px;line-height:50px;cursor:move;overflow:hidden;font-size:16px;padding-left:22px;color:#b0231a;position:relative;border-bottom:1px solid #e8e8e8;}
.alertlayer .layertitle b{width:35px;height:30px;display:none;position:absolute;left:8px;top:10px;}
.alertlayer .layercontent{padding:20px;line-height:22px;}
.alertlayer .layerclose{ display: none;}
.alertlayer .layertxt{ position:relative; text-align:center;padding:px(20) px(20) px(0);overflow:hidden;width:auto;margin:0 auto;}  /*直接显示文本*/
.alertlayer .layertxt .layericon{ width:px(70); height:px(70); margin:0 auto; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%; -o-border-radius:100%; border:2px solid #f2932d; color:#f2932d;}
.alertlayer .layertxt .layericon i{ display:inline-block; width:px(70); height:px(70); line-height:px(70);color:#f2932d; font-size: px(38); font-style: normal;}
.alertlayer .layertxt .computerwarm{ padding:px(30) px(0); font-size: px(30);}
.alertlayer .layerinput { width:100%; border-top:1px solid #ddd; text-align:center;}/*按钮外层div*/
.alertlayer .layerinput [class^="cell-btn"]{ border-radius: 0;}
.alertlayer .layerinput .layerreset{ float:right; width:50%; height:px(90); line-height: px(90); background-color: #fff;}/*取消按钮*/
.alertlayer .layerinput .layerbutton{ float:right; width:50%; height:px(90); line-height: px(90); border-left:1px solid #ddd; background-color:#fff; color:rgb(159,140,97);}
.alertlayer .layerclosetime{position:absolute;left:120px;top:18px;font-size:12px;color:#fff;}/*显示关闭倒计时*/
.alerylayer .layerloading{}/*加载外部连接时加载提示*/
.alertlayer .layercontent{padding:0;}

.caculator{ overflow:hidden;margin:0 auto;}
.caculator h3.layertitle b{background-position:-288px -212px;}
.caculator .content { padding:px(30);background:#fff; margin-bottom:px(20); border-bottom:1px solid #e8e8e8;}
.caculator .content dt{ font-size: px(30);}
.caculator .content dt:nth-child(3){ padding-top: px(20);}
.caculator .content dd{ padding-top: px(10);}
.caculator .content .title{ color:#c7cace;}
.caculator .content .fcred{ color:#b39061;}
.caculator .content .return-money{ font-size: px(60);}
.caculator .content .computer-allmoney{ font-size: px(50);}
.caculator .ui-input{ overflow:hidden; height:px(60); padding:px(25) 0; line-height:px(60); background:#fff; border-bottom:1px solid #ddd;}
.caculator .ui-input-first{ border-top: 1px solid #ddd;}
.caculator .ui-input b,
.caculator .ui-input span,
.caculator .ui-input i{ float:left; font-size: px(28); font-weight: normal; font-style: normal;}
.caculator .ui-input b { display: inline-block; width:px(226); padding:0 0 0 px(30); }
.caculator .ui-input span { display: inline-block; width:px(336); padding:0 px(15); }
.caculator .ui-input i { display: inline-block; width:px(93); padding:0 px(30) 0 0;}
.caculator .cell-input { width:px(316); height:px(60); padding:0 px(10); border:none; color:#333; font-size: px(32); }
.caculator .ui-button { position:absolute; bottom:0; width:100%; overflow:hidden; border-top:1px solid rgb(159,140,97); text-align:center;}
.caculator .ui-button [class^="cell-btn"]{ float:left; width:50%; height:px(120); line-height:px(80); border-radius:0; font-size: px(36);}
.caculator .link-btn { padding:px(20) px(30) 0 0; text-align: right;}
.caculator .link-btn .computer-reset{ color:rgb(159,140,97); font-size: px(30);}
.caculator .link-btn .computer-button{ display: none; }
//.caculator .ui-button .computer-reset{ background-color:#fff; color:rgb(159,140,97);}
//.caculator .ui-button .computer-button{ background-color:rgb(159,140,97); color:#fff; }