.business .partner-box ul { *zoom: 1; }
.business .partner-box ul:before, .business .partner-box ul:after { content: ""; display: table; }
.business .partner-box ul:after { clear: both; }

.business .box { margin-left: 20px; }
.business .title-box { padding-top: 100px; margin-bottom: 20px; }
.business .title-box h2 { font-size: 64px; }
.business .title-box p { font-size: 16px; }
.business .text { font-size: 16px; color: #666; line-height: 25px; }
.business .text p { margin-bottom: 20px; text-indent: 35px; }
.business .layout-1 { height: 845px; background: url("../images/b1.jpg") no-repeat center top; }
.business .layout-1 .box { height: 580px; }
.business .layout-1 .title-box { color: #3573e3; }
.business .layout-1 .text { width: 630px; }
.business .layout-2 { height: 837px; background: url("../images/b2.jpg") no-repeat center top; }
.business .layout-2 .box { margin-left: 520px; height: 560px; }
.business .layout-2 .title-box { color: #ae7132; }
.business .layout-2 .text { width: 660px; }
.business .layout-2 .more a { background: #fff; }
.business .layout-3 { height: 837px; background: url("../images/b3.jpg") no-repeat center top; }
.business .layout-3 .box { height: 570px; }
.business .layout-3 .title-box { color: #ce1019; }
.business .layout-3 .text { width: 700px; }
.business .layout-3 .more a { background: #e9e9e9; }
.business .partner-box h3 { text-align: center; font-size: 20px; line-height: 35px; color: #404658; margin-bottom: 15px; }
.business .partner-box ul { border: 1px dashed #bdbfc5; height: 70px; padding: 25px 0; overflow: hidden; margin-bottom: 20px; }
.business .partner-box li { float: left; height: 70px; width: 150px; background: url("../images/icon-logo.png") no-repeat center center; margin: 0 24px; }
.business .partner-box .bg-1 { background-position: center 0; }
.business .partner-box .bg-2 { background-position: center -70px; }
.business .partner-box .bg-3 { background-position: center -140px; }
.business .partner-box .bg-4 { background-position: center -210px; }
.business .partner-box .bg-5 { background-position: center -280px; }
.business .partner-box .bg-6 { background-position: center -350px; }
.business .partner-box .bg-7 { background-position: center -420px; }
.business .partner-box .bg-8 { background-position: center -490px; }
.business .partner-box .bg-9 { background-position: center -560px; }
.business .partner-box .bg-10 { background-position: center -630px; }
.business .partner-box .bg-11 { background-position: center -700px; }
.business .partner-box .bg-12 { background-position: center -770px; }
.business .partner-box .bg-13 { background-position: center -840px; }
.business .partner-box .bg-14 { background-position: center -910px; }
.business .partner-box .bg-15 { background-position: center -980px; }
.business .partner-box .bg-16 { background-position: center -1050px; }
.business .partner-box .bg-17 { background-position: center -1120px; }
.business .partner-box .bg-18 { background-position: center -1190px; }
.business .partner-box .more { text-align: center; line-height: 40px; height: 40px; }
.business .partner-box .more a { display: block; width: 260px; margin: 0 auto; border-radius: 5px; color: #999; }
.business .partner-box .more a:hover { color: #dca051; }
