@charset "UTF-8";
.wrap-main .container, .new-header .nav { *zoom: 1; }
.wrap-main .container:before, .new-header .nav:before, .wrap-main .container:after, .new-header .nav:after { content: ""; display: table; }
.wrap-main .container:after, .new-header .nav:after { clear: both; }

/*首页*/
html.full-page { width: 100%; height: 100%; min-width: 1000px; }
html.full-page body { position: relative; width: 100%; height: 100%; min-width: 1000px; }

.wrap-main { position: absolute; top: 0; right: 0; bottom: 90px; left: 0; background: url(../images/bg-index.gif) center center no-repeat; -webkit-background-size: cover; background-size: cover; }
.wrap-main .bg-gif { position: absolute; width: 100%; height: 50%; }
.wrap-main .bg-dot { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0; background: url(../images/bg-dot.png) 0 0 repeat; }
.wrap-main .container { position: absolute; top: 88px; right: 0; bottom: 0; left: 0; width: 100%; }
.wrap-main .left-box { position: relative; *position: absolute; *top: 0; *bottom: 0; float: left; width: 50%; height: 100%; }
.wrap-main .right-box { *position: absolute; *top: 0; *right: 0; *bottom: 0; float: right; width: 50%; *width: 49.8%; height: 100%; }
.wrap-main a.border { position: relative; display: block; border-left: 1px solid #3e4e69; border-bottom: 1px solid #3e4e69; width: 100%; height: 100%; color: #fff; overflow: hidden; -webkit-transition: all 0.4s; transition: all 0.4s; }
.wrap-main a.border:hover { color: #fff; filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B3415387', endColorstr='#B3415387'); background-color: rgba(65, 83, 135, 0.7); border-bottom: 1px solid transparent; }
.wrap-main a.border div.move-box { position: absolute; left: 0; right: 0; margin: 20px 25px; overflow: hidden; }
.wrap-main a.border h2 { font-size: 26px; }
.wrap-main a.border h4 { font-size: 14px; }
.wrap-main a.border p { font-size: 14px; line-height: 2; margin: 15px 0 0; }
.wrap-main a.border .over-hide { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 8px 0 0; }
.wrap-main .cell-row { position: relative; width: 100%; height: 25%; }
.wrap-main .cell-row-half { position: relative; float: left; width: 50%; *width: 49.8%; height: 25%; }
.wrap-main .cell-col-half { position: relative; float: left; width: 50%; *width: 49.8%; height: 25%; }
.wrap-main .cell-col { position: relative; float: left; width: 50%; *width: 49.8%; height: 50%; }
.wrap-main .col-half { position: relative; height: 50%; }

/*banner*/
.banner-index { overflow: hidden; position: absolute; bottom: 0; width: 90%; zoom: 1; height: 180px; margin-left: 60px; }
.banner-index .banner-list { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1; color: #fff; text-align: left; }
.banner-index .banner-list li { width: 100%; height: 100%; float: left; opacity: 0; filter: alpha(opacity=0); overflow: hidden; z-index: 1; }
.banner-index .banner-list li:first-child { opacity: 1; filter: alpha(opacity=100); }
.banner-index .banner-list h2 { position: relative; left: 280px; font-size: 67px; opacity: 0; filter: alpha(opacity=0); -webkit-transition: all 1.4s; transition: all 1.4s; }
.banner-index .banner-list p { position: relative; left: -280px; font-size: 32px; opacity: 0; filter: alpha(opacity=0); -webkit-transition: all 1.4s; transition: all 1.4s; }
.banner-index .banner-list .active h2 { left: 0; opacity: 1; filter: alpha(opacity=100); }
.banner-index .banner-list .active p { left: 0; opacity: 1; filter: alpha(opacity=100); }
.banner-index .switchers { display: none; position: absolute; left: 0; bottom: 0; z-index: 10; width: 100%; height: 4px; }
.banner-index .switchers ul { width: 100%; position: absolute; left: 0; bottom: 14px; }
.banner-index .switchers ul li { display: inline; width: 15px; height: 15px; margin: 0 5px; line-height: 0; cursor: pointer; }
.banner-index .switchers ul li a { display: inline-block; width: 10px; height: 10px; background-color: #e3e3e3; border-radius: 50%; -webkit-transition: all 0.4s; transition: all 0.4s; }
.banner-index .switchers ul li.active a { width: 44px; border-radius: 5px; background-color: #da8b39; }

.new-header { position: relative; z-index: 2; height: 88px; background: #212121; }
.new-header .logo { height: 100%; display: table; *margin-top: 20px; }
.new-header .logo a { display: table-cell; vertical-align: middle; }
.new-header .nav { height: 100%; }
.new-header .nav > li { position: relative; float: left; width: 106px; height: 100%; }
.new-header .nav > li.current a { color: #bd854b; }
.new-header .nav > li.current .nav-bg { opacity: 1; filter: alpha(opacity=100); -webkit-transform: translate3D(0, 0, 0); transform: translate3D(0, 0, 0); }
.new-header .nav a { display: block; height: 100%; padding: 0 18px; font-size: 14px; line-height: 88px; color: #fff; text-align: center; }
.new-header .nav .nav-bg { position: absolute; bottom: 20px; width: 100%; height: 2px; background: #bd854b; opacity: 0; filter: alpha(opacity=0); -webkit-transform: translate3D(0, 10px, 0); transform: translate3D(0, 10px, 0); -webkit-transition: all 0.4s; transition: all 0.4s; }

.footer { position: absolute; right: 0; bottom: 0; left: 0; height: 90px; }

.full-page .new-header { border-bottom: 1px solid #000000; background: transparent; box-shadow: 50px 0px 50px #000000; }
.full-page .new-header .nav a { color: #fff; }
.full-page .new-sub-nav > li { background: #11263c; border: 0px solid #eee; }
.full-page .new-sub-nav .sub-item { color: #fff; }
.full-page .new-sub-nav .sub-item:hover { background: transparent; color: #bd854b; }
