@charset "utf-8";
/*新闻中心*/
.main-news-detail {
  padding: 30px;
}
.main-news-detail .news-title {
  font-size: 24px;
  font-weight: bold;
  color: #bd854f;
  line-height: 60px;
  text-align: center;
}
.main-news-detail .news-time {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
.main-news-detail .news-time span:first-child {
  margin-right: 30px;
}
.main-news-detail .icon-back {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url("../images/icon.png") 0 -48px;
}
.main-news-detail .alink-box {
  height: 30px;
  line-height: 30px;
  margin-bottom: 40px;
}
.main-news-detail .alink-box a {
  padding: 0 10px;
  margin: 0 5px;
  color: #999;
  line-height: 30px;
  float: right;
}
.main-news-detail .alink-box a:hover {
  color: #dca051;
}
.main-news-detail .alink-box a:hover .icon-back {
  background-position: 0 -48px;
}
.main-news-detail .alink-box a:hover .icon-yun-s {
  background-position: right -73px;
}
.main-news-detail .alink-box .icon-back {
  background-position: 0 -73px;
}
.main-news-detail .template {
  font-size: 16px;
  color: #999;
}
.main-news-detail .bottom-alink {
  text-align: center;
  margin: 40px 0 65px;
}
.main-news-detail .bottom-alink a {
  padding: 0 10px;
  margin: 0 5px;
  color: #999;
  line-height: 40px;
}
.main-news-detail .bottom-alink a:hover {
  color: #dca051;
}
.main-news-detail .bottom-alink a:hover .icon-yun-s {
  background-position: right -73px;
}
.main-news-detail .bottom-alink .cell-btn-white {
  width: 143px;
  color: #dca051;
  height: 38px;
  line-height: 38px;
}
.main-news-detail .bottom-alink .cell-btn-white i {
  background-position: 0 -48px;
}
.main-news-detail .bottom-alink .cell-btn-white:hover {
  color: #fff;
}
.main-news-detail .bottom-alink .cell-btn-white:hover i {
  background-position: 0 -95px;
}
.main-news .clear {
  *margin-top: -4px;
}
/*投资者关系*/
.main-invest-relation .invest-list {
  padding: 30px 0;
}
.main-invest-relation .invest-list > li {
  padding: 35px;
  border-bottom: 1px solid #ecebeb;
  height: 100px;
}
.main-invest-relation .invest-list > li > a {
  display: block;
  height: 100px;
}
.main-invest-relation .invest-list > li:hover {
  background: #e6e6e6;
}
.main-invest-relation .data {
  float: left;
  width: 82px;
  height: 99px;
  padding-left: 14px;
  background: #e6e6e6;
  line-height: 1;
}
.main-invest-relation .data .day {
  font-size: 50px;
  color: #ce0019;
}
.main-invest-relation .data .month,
.main-invest-relation .data .year {
  font-size: 18px;
  color: #666;
  line-height: 22px;
}
.main-invest-relation .inner {
  padding-left: 10px;
  float: left;
  width: 670px;
}
.main-invest-relation .file-name {
  font-size: 20px;
  font-weight: bold;
  color: #666;
  margin-bottom: 14px;
}
.main-invest-relation .file-text {
  font-size: 16px;
  color: #999;
  line-height: 1.8;
  height: 56px;
  overflow: hidden;
}
.main-invest-relation .download {
  padding: 0 45px;
  width: 45px;
  margin-top: 23px;
  float: right;
  text-align: center;
}
.main-invest-relation .download a {
  color: #999;
}
.main-invest-relation .download a:hover {
  color: #bd854c;
}
.main-invest-relation .download a:hover .icon-yun {
  background-position: 0 -127px;
}
.main-invest-relation .icon-yun {
  background: url("../images/icon.png") -58px -127px;
  width: 42px;
  height: 42px;
  margin-bottom: 5px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.icon-yun-s {
  background: url("../images/icon.png") right -97px no-repeat;
  width: 20px;
  height: 20px;
  margin: 5px 5px 5px 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
/*业务布局-金融云*/
.business-cloud {
  padding-bottom: 30px;
}
.business-cloud .text {
  padding: 0 20px 25px;
  width: 595px;
}
.business-cloud .fcgray999 {
  text-indent: 2em;
  font-size: 16px;
  line-height: 1.8;
}
.business-cloud .fcgray999 .name {
  font-size: 20px;
  color: #bd854f;
}
.business-cloud .cloud-top {
  background: url("../images/bg-cloud-1.jpg") right 13px no-repeat;
}
.business-cloud .cloud-bottom {
  padding: 55px 0 110px 545px;
  background: url("../images/bg-cloud-2.jpg") left top no-repeat;
}
.business-cloud .bigdata-top {
  background: url("../images/bg-bigdata-1.jpg") right 13px no-repeat;
}
.business-cloud .bigdata-top .text {
  width: 543px;
}
.business-cloud .bigdata-bottom {
  padding: 15px 0 63px 545px;
  background: url("../images/bg-bigdata-2.jpg") -7px top no-repeat;
}
/*业务布局-产业投资*/
.main-industry .text {
  padding: 65px 40px 0 390px;
  margin: 70px 0 60px;
  height: 305px;
  background: url("../images/bg-cytz.jpg") 0 0 no-repeat;
}
.main-industry .fcgray999 {
  font-size: 16px;
  text-indent: 2em;
  line-height: 1.8;
}
.main-industry .fcgray999 .name {
  font-size: 20px;
  color: #bd854f;
}
/*业务布局-金融大数据*/
.main-bigdata .text {
  padding-left: 30px;
  width: 870px;
}
.main-bigdata .fcgray999 {
  font-size: 16px;
  line-height: 1.8;
}
.main-bigdata .fcgray999 .name {
  font-size: 20px;
  color: #bd854f;
}
.main-bigdata .img-box {
  margin: 20px 0 50px;
  text-align: center;
}
/*网金控股-品牌文化*/
.main-culture .section {
  padding: 0 20px 30px;
}
.main-culture .culture-bg {
  background: url("../images/culture.jpg") right top no-repeat;
}
.main-culture .title-red {
  font-size: 24px;
  color: #ce0019;
  margin-bottom: 3px;
}
.main-culture .title-yellow {
  font-size: 20px;
  color: #bd854f;
  margin-bottom: 15px;
}
.main-culture .fcgray999 {
  font-size: 16px;
  line-height: 1.9;
  text-indent: 2em;
}
.main-culture .space-mt {
  margin-top: 25px;
}
.main-culture .t-indent-0 {
  text-indent: 0;
}
/*网金控股-发展历程*/
.main-history .history-wrap {
  margin: 40px auto 80px;
}
.main-history .time-line {
  position: relative;
}
.main-history .time-line .time {
  font-size: 40px;
  padding-top: 240px;
  text-align: center;
  color: #bfa680;
}
.main-history .time-line img {
  margin-top: 20px;
}
.main-history .event {
  width: 300px;
  position: absolute;
}
.main-history .e-left {
  left: -308px;
  top: 253px;
}
.main-history .e-right {
  right: -308px;
  top: 253px;
}
.main-history .text-left {
  text-align: left;
}
.main-history .fcgray999 {
  font-size: 18px;
}
.main-history .time-1 {
  width: 372px;
  height: 273px;
  margin: 0 auto;
  background: url("../images/history-time-1.png") center top no-repeat;
}
.main-history .time-1 .time {
  color: #fefefe;
  padding-top: 180px;
}
.main-history .time-1 .event {
  font-size: 20px;
  color: #bd854f;
  right: -308px;
  top: 181px;
}
.main-history .time-1 p {
  line-height: 1.2;
}
.main-history .time-2 {
  width: 372px;
  height: 336px;
  margin: -74px auto 0;
  background: url("../images/history-time-2.png") center top no-repeat;
}
.main-history .time-3 {
  width: 372px;
  height: 336px;
  margin: -74px auto 0;
  background: url("../images/history-time-3.png") center top no-repeat;
}
