.progress-box{position:relative;width:1145px;height:580px; margin-top: 70px;}
.progress-area{width:1145px;height:511px;position:absolute;top:0;left:0;background:url(../images/progress/progress-bg.png) no-repeat;background-size:100% 100%;}
.text-box{width:185px;height:100px;}
.text-box1{position:absolute;top:175px;left:17px;}
.text-box2{position:absolute;top: 333px; left: 109px;}
.text-box3{position:absolute;top: 227px; left: 293px;}
.text-box4{position:absolute;top: 67px; left: 386px;}
.text-box5{position:absolute;top: 174px; left: 571px;}
.text-box6{position:absolute;top: 333px; left: 663px;}
.text-box7{position:absolute;top: 227px; left: 848px;}
.text-box8{position:absolute;top: 67px; left: 941px;}
.text-box .text{padding:5px 20px;}
.text-box .text .year{color:#df242d;font-size:40px;}
.text-box .text .line{border-top:3px solid #bd854b;width:23px;position:relative;top:-3px;}
.text-box .text .event{font-size:16px; *position:relative; *top:-13px;}
.text-box8 .text .year,.text-box8 .text .event,.text-box8 .middle{color:#fff;}
.text-box8 .text .line{border-top:3px solid #fff;}
.text-box .hover-box{display:none;position:absolute;z-index:100; top: -71px; left: -12px; width:210px;height:240px; background:url(../images/progress/hover-bg.png) no-repeat;background-size:100% 100%;animation:scale .3s forwards;-webkit-animation:scale .3s forwards;}
.text-box .middle{width:168px;height:140px;padding:0 20px;color:#fff;line-height: 22px;text-align:justify;}
.text-box1 .middle,.text-box2 .middle,.text-box4 .middle,.text-box8 .middle{padding-top:105px;text-align:center;}
.text-box3 .middle,.text-box7 .middle{padding-top:95px;}
.text-box5 .middle,.text-box6 .middle{padding-top:75px;}
@-webkit-keyframes scale{ 0% {  -webkit-transform:scale(.8); transform:scale(.8); opacity:0;  } 100% {  -webkit-transform:scale(1); transform:scale(1);  opacity:1; }}
@keyframes scale{ 0% {  -webkit-transform:scale(.8); transform:scale(.8); opacity:0;  } 100% {  -webkit-transform:scale(1); transform:scale(1);  opacity:1;  } }






