@charset "utf-8";

@import "sass-core/function";

$imgUrl: '../images';

/*banner*/
.banner-index {
  overflow: hidden;
  position: relative;
  width: 100%;
  zoom: 1;
  height: 730px;
  .banner-list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: #fff;
    text-align: left;
    li {
      width: 100%;
      height: 100%;
      float: left;
      opacity: 0;
      filter: alpha(opacity=0);
      overflow: hidden;
      z-index: 1;
      background-position: center 0;
      &:first-child {
        opacity: 1;
        filter: alpha(opacity=100);
      }
    }
    h2{
      position: relative;
      left: 280px;
      font-size: 67px;
      @include opacity(0);
      @include transition(all 1.4s);
    }
    p{
      position: relative;
      left: -280px;
      font-size: 32px;
      @include opacity(0);
      @include transition(all 1.4s);
    }
    .active{
      h2{
        left: 0;
        @include opacity(100);
      }
      p{
        left: 0;
        @include opacity(100);
      }
    }
  }
  .switchers {
    position: fixed;
    //left: 50%;
    top: 670px;
    z-index: 10;
    //margin-left: -600px;
    width: 100%;
    height: 4px;
    text-align: center;
    ul {
      display: inline-block;
      //width: 100%;
      //position: absolute;
      //left: 0;
      //bottom: 14px;
      li {
        display: inline;
        width: 15px;
        height: 15px;
        margin: 0 5px;
        line-height: 0;
        cursor: pointer;
        a {
          display: inline-block;
          width: 78px;
          height: 3px;
          background-color: rgba(255,255,255,.5);
          @include transition(all 0.4s);
        }
        &.active a {
          //width: 90px;
          background-color: #ce1019;
        }
      }
    }
  }
}

html,body{
  min-width: 1200px;
}
.wrap{
  width: 1200px;
}
.clear{
  @include clearfix();
}
.mod-title{
  padding-top: 50px;
  font-size: 45px;
  color: #bd854b;
  text-align: center;
}
.mod-sub-title{
  padding-bottom: 40px;
  font-size: 18px;
  color: #bd854b;
  text-align: center;
}
.bb-line{
  padding-bottom: 20px;
  //border-bottom: 1px solid #f0dac4;
}
@-webkit-keyframes rotate-round {
  0%{
    @include rotate(0);
  }
  100%{
    @include rotate(360deg);
  }
}
@-webkit-keyframes rotate-round2 {
  0%{
    @include rotate(0);
  }
  100%{
    @include rotate(-360deg);
  }
}
.wrap-mod{
  position: relative;
  z-index: 1;
  @include clearfix();
  .fix-box{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
  }
  .bg-map{
    height: 600px;
    background: url("#{$imgUrl}/bg-group.jpg") center 0 no-repeat;
    @include clearfix();
  }
  .col-left{
    //float: left;
    position: absolute;
    left: 0;
    top: 280px;
    width: 49.5%;
  }
  .col-right{
    float: right;
    width: 594px;
  }
  .ani-content{
    position: relative;
    margin-top: 174px;
  }
  .ani-group{
    position: relative;
    height: 500px;
    .bg-group{
      position: absolute;
      left: 50%;
      top: -36px;
      width: 420px;
      height: 420px;
      margin-left: -210px;
      //background: url("#{$imgUrl}/bg-group.png") center top no-repeat;
    }
    .out{
      position: absolute;
      left: 50%;
      top: 0;
      width: 420px;
      height: 420px;
      margin-left: -210px;
      background: url("#{$imgUrl}/out.png") center top no-repeat;
      @include animation(rotate-round 4s infinite);
    }
    .middle{
      position: absolute;
      left:50%;
      top: 0;
      width: 420px;
      height: 420px;
      margin-left: -210px;
      background: url("#{$imgUrl}/middle.png") center top no-repeat;
      @include animation(rotate-round 4.5s infinite);
    }
    .inner{
      position: absolute;
      left:50%;
      top: 0;
      width: 420px;
      height: 420px;
      margin-left: -210px;
      background: url("#{$imgUrl}/inner.png") center top no-repeat;
      @include animation(rotate-round2 4s infinite);
    }
    i{
      position: absolute;
      width: 182px;
      height: 200px;
      display: none;
    }
  }
  .ismall{
    position: absolute;
    width: 143px;
    height: 154px;
    cursor: pointer;
  }
  .itop{
    top: 15px;
    left: 50%;
    margin-left: -71px;
    background: url("#{$imgUrl}/group-icon.png") -143px 0 no-repeat;
  }
  .ileft{
    top: 247px;
    left: 50%;
    margin-left: -216px;
    background: url("#{$imgUrl}/group-icon.png") 0px 0 no-repeat;
  }
  .iright{
    top: 247px;
    right: 50%;
    margin-right: -216px;
    background: url("#{$imgUrl}/group-icon.png") -286px 0 no-repeat;
  }
  .imiddle{
    position: absolute;
    top: 148px;
    left: 115px;
    width: 188px;
    height: 205px;
    cursor: pointer;
    background: url("#{$imgUrl}/e-org.png") 0px 0px no-repeat;
  }
  .ani-top{
    top: -42px;
    left: 50%;
    display: block;
    margin-left: -91px;
    background: url("#{$imgUrl}/kj.png") 0 0 no-repeat;
  }
  .ani-left{
    top: -9px;
    left: 50%;
    margin-left: -97px;
    background: url("#{$imgUrl}/fw.png") 0 0 no-repeat;
  }
  .ani-right{
    top: -9px;
    right: 50%;
    margin-right: -97px;
    background: url("#{$imgUrl}/yy.png") 0 0 no-repeat;
  }
  i.ani-middle{
    top: 0px;
    left: 0px;
    width: 188px;
    height: 205px;
    background: url("#{$imgUrl}/e.png") 0px 0px no-repeat;
  }
  .arrow-top{
    position: absolute;
    top: 198px;
    left: 23px;
    width: 136px;
    height: 44px;
    background: url("#{$imgUrl}/arrow-top.png") 0 0 no-repeat;
  }
  .arrow-left{
    position: absolute;
    top: -26px;
    left: 173px;
    width: 72px;
    height: 118px;
    background: url("#{$imgUrl}/arrow-left.png") 0 0 no-repeat;
  }
  .arrow-right{
    position: absolute;
    top: -26px;
    right: 173px;
    width: 72px;
    height: 118px;
    background: url("#{$imgUrl}/arrow-right.png") 0 0 no-repeat;
  }
  .ani-mid-in{
    position: absolute;
    top: -134px;
    left: -152px;
    width: 448px;
    height: 507px;
    background: url("#{$imgUrl}/ani-mid-in.png") 0px 0px no-repeat;
  }
  .ani-mid-out{
    position: absolute;
    top: -134px;
    left: -152px;
    width: 448px;
    height: 507px;
    opacity: 0;
    background: url("#{$imgUrl}/ani-mid-out.png") 0px 0px no-repeat;
    @include transition(opacity 0.5s 0.4s);
  }
  .active{
    .ani-mid-out{
      opacity: 1;
    }
  }
  .section{
    padding-left: 90px;
    //opacity: 0;
    h4{
      margin-bottom: 60px;
      font-size: 42px;
      color: #666666;
    }
    p{
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 2.2;
      color: #666;
    }
    a{
      font-size: 18px;
      color: #bd854b;
    }
  }
  .sec-1{
    h4{
      margin-bottom: 35px;
    }
  }
}

.wrap-news{
  background: #f5f5f5;
  .cell-news{
    padding: 0 38px 40px;
    @include clearfix();
  }
  .left-text{
    float: left;
    width: 600px;
  }
  .right-img{
    float: right;
    width: 432px;
  }
  .top-news{
    padding-bottom: 35px;
    border-bottom: 1px solid #d9d9d9;
    @include clearfix();
  }
  .time{
    float: left;
    width: 90px;
    color: #333;
    .day{
      font-size: 56px;
      line-height: 1;
    }
    .year{
      font-size: 16px;
    }
  }
  .top-detail{
    width: 510px;
    float: left;
    font-size: 16px;
    color: #333;
  }
  .top-title{
    margin-bottom: 10px;
    a{
      font-size: 16px;
    }
  }
  .top-text{
    font-size: 14px;
    line-height: 1.7;
    color: #999;
    a{
      float: right;
      color: #ce1019;
    }
  }
  .news-list{
    padding: 25px 0 0;
    a{
      display: block;
      padding: 10px 0;
      font-size: 14px;
      @include clearfix();
    }
    .title{
      float: left;
      width: 83%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .news-time{
      float: right;
      width: 17%;
      text-align: right;
    }
  }
}
.news-img {
  overflow: hidden;
  position: relative;
  width: 100%;
  zoom: 1;
  height: 280px;
  border-bottom: 5px solid #ce1019;
  .news-img-list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: #fff;
    text-align: left;
    li {
      width: 100%;
      height: 100%;
      float: left;
      opacity: 0;
      filter: alpha(opacity=0);
      overflow: hidden;
      z-index: 1;
      &:first-child {
        opacity: 1;
        filter: alpha(opacity=100);
      }
      a{
        display:block;
        height:100%;
      }
    }
    h2{
      position: relative;
      height: 45px;
      line-height: 45px;
      font-size: 14px;
      color: #666;
      text-align: center;
      @include opacity(0);
      @include transition(all 1.4s);
    }
    p{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 45px;
      line-height: 45px;
      font-size: 14px;
      color: #666;
      text-align: center;
      background: rgba(255, 255, 255, .8);
      background: #fff\9;
      @include opacity(0);
      @include transition(all 1.4s);
    }
    .active{
      h2{
        left: 0;
        @include opacity(100);
      }
      p{
        left: 0;
        @include opacity(100);
      }
    }
  }
  .arrow{
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -15px;
    width: 30px;
    height:30px;
  }
  .prev{
    left: 10px;
    background: url(#{$imgUrl}/arrow.png) 10px center no-repeat;
  }
  .next{
    right: 10px;
    background: url(#{$imgUrl}/arrow.png) -28px center no-repeat;
  }
  .switchers {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 4px;
    ul {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 14px;
      li {
        display: inline;
        width: 15px;
        height: 15px;
        margin: 0 5px;
        line-height: 0;
        cursor: pointer;
        a {
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: #e3e3e3;
          border-radius: 50%;
          @include transition(all 0.4s);
        }
        &.active a {
          width: 44px;
          @include border-radius(5px);
          background-color: #da8b39;
        }
      }
    }
  }
}